{% extends 'base.html' %}


{% block content %}
<div class="col-md-6 offset-md-3">

<div class="card">
  <div class="card-header">
    {{customer_record.first_name}} {{customer_record.last_name}} 
  </div>
  <div class="card-body">
    <p><strong>Email: </strong>{{customer_record.email}}</p>
    <p><strong>Phone: </strong>{{customer_record.phone}}    </p>
    <p><strong>Address: </strong>{{customer_record.address}}</p>
    <p><strong>City: </strong>{{customer_record.city}}</p>
    <p><strong>Created At: </strong>{{customer_record.created_at}}</p>
    <br><br>  
	<a href="{% url 'home' %}" class="btn btn-secondary"> Back</a>
	<a href="{% url 'delete' customer_record.id %}" class="btn btn-danger"> Delete</a>
	<a href="{% url 'update' customer_record.id %}" class="btn btn-secondary"> Update</a>
</div>

</div>

{% endblock %}